
.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8);
}
.modal-body {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    flex-direction: column; 
    margin: 14px 0px;
}
input{
    margin-top: 10px;
    padding: 6px;
    width: 500px;
}
.close {
    position: absolute;
    justify-content: flex-end;
    color: black   ;
    padding: 4px;
    font-size: x-large;
    font-weight: 800;
    cursor: pointer;
    right: 0;
    margin-right: 23px;
}

.pay-button{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}